.service{
    margin-top: 120px;
    
    .service_heading{
       text-align: center;
       font-size: 60px;
       font-weight: 700;
    }

    .service_wrapper_grid{
       display: flex;
       margin-left: 300px;
       margin-top: 80px;
       gap: 150px;

        .skills_wrapper{

    /* classes for the images*/
           .skills_visualization{
             height: 68px;
             padding-left: 65px;
           }

           .skills_machine_learning{
              height: 60px;
              margin-bottom: 7px;
              padding-left: 65px;

             
           }

           .skills_dataAnalysis{
            padding-left: 50px;
           }


     /* class for the captions*/     

            .img_captions{
               font-size: 27px;
               font-weight: 600;
          
               

            }
        }
    }
}