
.service{
 margin-top: 200px;

    .service_heading{
        font-size: 80px;
        font-weight: 700;
        font-family: var(--secondary-font);
        text-align: center;
    }

    .grid{
        margin-top: 40px;
        //margin-left: 50px;
        display: grid;
        grid-template-columns: 50% auto;
        //gap: 10px;

        .design_service {
             
           
            padding: 20px 10px;
            border-radius: 15px;
            background: #EBE8E8;
            width: 400px;
            margin-left: 200px;
            
            
          
            
           

            
            .design_image{
                width: 100px;
                margin-left:8em ;
                padding-bottom: 20px;
                margin-top: 12px;
            }
            
            .design_heading{
                font-weight: bold;
                font-size: 30px;
                text-align: center;
                padding-bottom: 10px;
            }

            .design_text{
                font-weight: 300;
                font-size: 22px;
                text-align: center;
            }
            
            

        }

        .dev_service{
            padding: 20px 20px;
            border-radius: 15px;
            background: #EBE8E8;
            margin-right: 80px;
            width: 400px;
        
          
          
            

            .dev_image{
                margin-top: 20px;
                width: 100px;
                margin-left: 8em;
                padding-bottom: 10px;
                //padding-left: 30px;

            }

            .dev_heading{
                font-weight: bold;
                font-size: 30px;
                text-align: center;
                padding-bottom: 10px;
            }

            .dev_text{
                font-weight: 300;
                font-size: 22px;
                text-align: center;
                padding-bottom: 10px;
            }
        }
    }
}