
.navbar{

      .container{
        max-width: 1100px;
        margin: 0 auto;
        overflow: auto;
        padding: 0 40px;
       

        display: flex;
        gap: 30px;

        .navbar_elements_wrapper{
            display: flex;
            gap: 10px;
        }

        a{
            text-decoration: none;
            
        }

        ul{
            padding-top: 30px;
            padding-left: 80px;
        }

        li{
            list-style: none;
            color: #000;
            font-size: 20px;
            font-family: 'League Spartan', sans-serif; 
            font-weight: 600;
            padding-right: 20px;
            transition: ease-in 0.1s;

            &:hover{
                color: var(--primary-color);
            }
        }

        img{
            width: 55px;
        }

      }


     
}