
.social{

    .wrapper{
        display:grid ;
        gap: 10px;
        margin-left: 40px;

        img{
            width:30px;

            &:hover{
                width: 32px;
            }
            
        }
    }
}