// creating the logic for design...

.api_test{

    .text_heading{
        text-align: center;
        font-size: 40px;
        font-weight: 800;
    }

    .list_style{
        background:blue;
        color: #fff;
        list-style: none;
    }
}