/*create styling forthe project2 page*/

.project2{

    .containerWrapper{
        margin-left: 175px;
        margin-right: 175px;
        margin-top: 80px;
        padding-bottom: 40px;

        /* global attributes*/
        h2{
            font-size: 25px;
        }

        p{
            font-size: 20px;
            padding-top: 14px;
            line-height: 25px; 
            padding-bottom: 20px;
        }

        .section_paragraph{
            padding-top: 20px;

        }


        /*main_heading class*/

        .main_heading{
            font-size: 45px;
            text-align: center;
            padding-bottom: 30px;

        }

        .sql_div{
            display: flex;
            gap:10px;
        }

        .image1{
            height:400px
        }

        .visualization{
            margin-top: 40px;

            .image3{
                height: 400px;
                margin-left: 140px;
            }
        }
    }
}