
/* css for the project file*/

.project1{
    margin-right: 175px;
    margin-left: 175px;
 
    .container{
        margin-top: 80px;
      
        /* Global attributes*/
        h2{
            font-size: 25px;
        }

        p{
            font-size: 20px;
            padding-top: 14px;
            line-height: 25px; 
        }

        .projectName{
            text-align: center;
            font-size: 45px;
          
        }
        
        /*introduction div*/
        .introduction{
           margin-top: 40px;
           
           .subheading{

           }

          

        }

        /*problem statement div*/
        .problemStatement{
           margin-top: 30px;
        }

        /* tools*/
        .tools{
            margin-top: 30px; 
        }

        /*dataSourcing div*/
        .DataSourcing{
            margin-top: 30px;
        }

        /*DataPreprocessing*/
        .DataPreProcessing{
            margin-top: 30px;
               
             .process1{
                padding-top: 20px;
             }
          
            .image_1{
                margin-top: 40px;
                height: 400px;
            }
        }

        /*Model*/
        .model{
            margin-top: 60px;

            .modelSpan{
                margin-left: 30px;
            }

            .image2{
                margin-top: 20px;
                height: 400px;
            }

        }


        /*analysis and visualization*/
        .analysisVisualization{
            margin-top: 80px;

            .visualization{
                margin-top: 40px;
                text-align: center;
                padding-bottom: 20px;

            }

            .image3{
                margin-left: 170px;
            }


        }
         
        .visualizationDiv{
            margin-top: 70px;
            margin-bottom: 40px;

            .visualization_heading{
                margin-bottom: 50px;
            }

            .image8{
                margin-left: 70px;
            }
        }

        .conclusion{
            padding-bottom: 30px;
            .image9{
                height:300px;
                margin-left: 200px;
            }
        }
    }
}