.footer{
    background: var(--primary-color);
    color: #fff;
    height:50px;


    .footer_container{
        display: grid;
        grid-template-columns: 30% auto;


       
        img{
           width: 40px;
        }

        p{
            font-size: 20px;
            font-weight: 300;
            font-family: var(--secondary-font);
             margin-top: 17px;
           
             span{
                font-size: 25px;
                padding-top: 15px;
                padding-top: 20px;
            }
    
        }
    
    }
}


