.portfolio{

    .portfolio_wrapper{

        .portfolio_heading{
            font-size: 80px;
            text-align: center;
            font-weight: 700;
        }

        .portfolio_container{
            display: grid;
            grid-template-columns: 22% 22% 22%;
            gap: 70px;
            margin-left: 220px;
            margin-top: 50px;
            position: relative;
            

            .portfolio_card1{
                height: 30em;
                width: 18em;
                background-color: grey;
                border-radius: 0.5em;
                margin-left: 10px;
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
                
                
            }

           
        }
    }
}